<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Report</title>
</head>
<body>
    <h1>DAILY / WEAKLY / MONTHLY PROGRESS REPORT</h1>
    <header>
        Update Daily work report - On-time regular updates are a must.
        This summary will be considered for final evaluation & progress - only source to be considered for all WFH for attendance and work content post-approval daily.
        <br>
        Also, keep sending your work snaps/recording in the group for immediate review.
        Approvals by lead within 2 days and by project manager within 7 days to be done else work will be left as unapproved.
        <br>
        The name and photo associated with your Google account will be recorded when you upload files and submit this form. 
    </header>
    {{ form.as_p }}
</body>
</html>